@page "/"
@using BlazorApp;

<PageTitle>Valida CPF</PageTitle>

<EditForm Model="@Model" OnSubmit="@Submit">
    <label for="teste">CPF:</label>
    <InputText id="teste" @bind-Value="Model!.cpf" />
    <br />
    <br />
    <button id="botaoValida" type="submit">Validar</button>
</EditForm>

@if (CpfValido && executou)
{
  <br />
  <br />
  <div id="dvcpfvalido" style="color: #01937C;">CPF válido!</div>
}
@if ((!CpfValido && executou) || (executou && ObjNulo))
{
  <br />
  <br />
  <div id="dvcpfinvalido" style="color: #952323;" >CPF inválido!</div>
}

@code {

    private bool CpfValido;
    private bool executou = false;
    private bool ObjNulo = true;

    public Documento? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {

        if(Model.cpf == null || Model.cpf == "" || Model == null)
        {
          ObjNulo = true;
        } else
        {
          CpfValido = BlazorApp.Validacoes.ValidaCPF(Model.cpf);
          ObjNulo = false;
        }
        
        executou = true;
    }

    public class Documento
    {
        public string? cpf { get; set; }
    }
}